.item__wrapper {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    padding: 16px 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 500px) {
    .item__wrapper {
        width: 80%;
        
    }

    .item__wrapper-description--title, .item__wrapper-description--controls, .item__wrapper-description--value {
        padding: 0 10px;
    }
}

.item__wrapper-thumbnail--image {
    position: relative;
}

.item__wrapper-thumbnail--image img{
    border-radius: 4px;
}

.item__wrapper-thumbnail--discount {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: #0aaca1;
    width: 50px;
    padding: 4px;
    color: white;
    border-radius: 4px;
  }

.item__wrapper-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 250px;
    width: 100%;
    align-items: baseline;
}

.item__wrapper-description--title {
    text-align: left;
}

.item__wrapper-description--title span {
    color: gray;
}

.item__wrapper-description--controls {
    display: flex;
    flex-direction: row;
}

.item__wrapper-description--controls div {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 12px;
    cursor: pointer;
}

.item__wrapper-description--controls div:first-child {
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    border-right: 0px;
}

.item__wrapper-description--controls div:last-child {
    border-left: 0px;
    border-radius: 0 4px 4px 0;
    box-sizing: border-box;
}

.item__wrapper-description--controls div:nth-child(even) {
    box-sizing: border-box;
    border-right: 0px;
    border-left: 0px;
}